body,
h2 {
  margin: 0%;
}

a {
  grid-column: 1/-1;
}

h2 {
  grid-column: 1/-1;
  text-align: center;
}

h1 {
  color: black;
  width: 700;
  text-align: center;
  font-size: 65px;
}

hr {
  height: 10px;
  background: #0f0f0f;
  border: 0;
  width: 50%;
}

/* classes */

.item {
  padding: 20px;
  background: #b6c3d8;
  border: 1px solid #ddd;
  width: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  place-items: center;
  grid-template-rows: 200px;
}

.item a {
  text-decoration: none;
  background: #ef0;
  padding: 15px;
  border-radius: 5px;
  justify-self: end;
}
